/*
@styleguide

@title Input Controls

Default styles for text, textarea, search box, radio groups and checkboxes.
Add other variants as fit.

<input type="text" placeholder="Sample text" />

    <input type="text" placeholder="Sample text" />

<textarea></textarea>

    <textarea></textarea>

<div><input type="radio" name="option1"><label for="option1">Option 1</label></div>

    <div><input type="radio" name="option1"><label for="option1">Option 1</label></div>
*/

input[type="text"], textarea {
  padding: 8px 12px;
  position: relative;
  min-width: 300px;
  background-color: transparent;
}

textarea {
  border: 1px solid var(--color-divider-light);
  height: 100px;
  resize: none;
}

input[type="radio"] {
  margin-right: 6px;
}

input[type="checkbox"] {

}
