/*
@styleguide

@title Tabs

Tabs/Navigation Bar

Default tabs
<ul class="tabs">
  <li>Item 1</li>
  <li class="selected">Item 2</li>
  <li>Item 3</li>
</ul>

    <ul class="tabs">
      <li>Item 1</li>
      <li class="selected">Item 2</li>
      <li>Item 3</li>
    </ul>

*/

ul.tabs {
  display: flex;
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
}

ul.tabs > li {
  padding: 16px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

ul.tabs > li.selected {
  font-weight: bold;
  color: var(--color-white-g1);
}

ul.tabs > li:not(.selected) {
  color: var(--color-white-g3);
}

ul.tabs > li:not(.selected):hover {
  color: var(--color-white-g1);
}

@media only screen and (max-device-width: 480px) {
  ul.tabs {
    flex-direction: column;
    width: 120px;
  }
}
