/* @start color */
:root {
    /* Main colors for the app: Logo colors, banner colors, main background  */
    --color-primary: #87642c;
    --color-error: #ce1616;
    --color-success: #068909;

    /* Text colors */
    --color-text-primary: #40545D;
    --color-text-secondary: #393939;
    --color-text-caption: #6D6D6D;
    --color-text-link: #3F51B5;
    --color-text-on-dark: #FFFFFF;

    /** TIP: Check for contrast ratio again all background colors,
        * notification colors, against the text colors and make sure the constrast ratio is 4.5.
        * This makes it accessible and available to a larger audience.
        * Tool: http://leaverou.github.io/contrast-ratio/ 
    **/

    /* Accent colors for your app */
    /* Name them based on intent and functionality rather than the color itself. 
       This can help with 1. rebranding in the future 2. themeing 3. themeing for PWAs
    */
    --color-accent-hotel: #4B4C22;
    --color-accent-main: #40545D;

    /* Divider Colors - Used for borders and dividers*/
    --color-divider: rgba(0, 0, 0, 0.5);
    --color-divider-light: rgba(0, 0, 0, 0.35);

    /** TIP: Add other colors you think are necessary for your project.
      * Try not to include more than 3 shades of that color. This leads to color collisions and
      * more often than not, people cannot discern the differences in subtle differences.
    **/

    /** TIP: This can be included as background colors, icon colors, borders.
        These colors should not be used as color for text. Add them to text colors.
    **/

    /* The inevitables */
    --color-primary-g1: #F4F3EE;
    --color-white-g1: #FFFFFF;
    --color-white-g2: #F4F3EE;
    --color-white-g3: #CCBA9A;

    --theme-default: var(--color-white-g1);
    --theme-light: var(--color-white-g2);
    --theme-user-input: #CACADB;

    /** TIP: Keep this section for the colors you will inevitably need in a large app.
        Make sure to reduce to keep the variations of each shade under 3 or 5. These
        are generally used for borders, backgrounds, icons. If you are using them with text,
        make sure to check for the contrast ratio against your text colors and keep it 4.5 or higher
    **/

    /** TIP: Discourage lighten(color, 10%) and other similar functions.
        As easy as this may be, it adds to color collisions. Instead, evaluate the colors
        and add the appropriate ones here **/
}

.theme-default {
  background-color: var(--theme-default);
}

.theme-light {
  background-color: var(--theme-light);
}

.theme-user-input {
  background-color: var(--theme-user-input);
}

.color-text-primary {
  color: var(--color-text-primary);
}

.color-text-link {
  color: var(--color-text-link);
}
/* @end color */
