/*
@styleguide

@title Typography

Use the display on header tags h1..h6.
These styles can be applied to any header tags. Display-4 need not be applied just on H1.
Keeping them header tag agnostic helps maintain page hierarchy for accessibility and
helps style aesthetically.

Use text colors from variables for any of the typography.

<h1 class="display-4">Display 4</h1>

    <h1 class="display-4">Display 4</h1>

<h1 class="display-3">Display 3</h1>

    <h1 class="display-3">Display 3</h1>

<h4 class="display-2">Display 2</h4>

    <h4 class="display-2">Display 2</h4>

<h2 class="display-1">Display 1</h2>

    <h2 class="display-3">Display 1</h2>

<h5 class="headline">Headline</h5>

    <h5 class="headline">Headline</h5>

<div class="title">Title</div>

    <div class="title">Title</div>

<div class="subheading">Subheading</div>

    <div class="subheading">Subheading</div>

<p class="body-2">Body 2</p>
<p class="body-2">
  Oh, elliptical, of course: for a while it would huddle against us and then it would take flight for a while. The tides, when the Moon swung closer, rose so high nobody could hold them back. There were nights when the Moon was full and very, very low, and the tide was so high that the Moon missed a ducking in the sea by a hair’s-breadth
</p>

    <p class="body-2">Body 2</p>

<p class="body-1">Body 1</p>
<p class="body-1">
  Oh, elliptical, of course: for a while it would huddle against us and then it would take flight for a while. The tides, when the Moon swung closer, rose so high nobody could hold them back. There were nights when the Moon was full and very, very low, and the tide was so high that the Moon missed a ducking in the sea by a hair’s-breadth
</p>

    <p class="body-1">Body 1</p>

<div class="caption">Caption</div>

    <div class="caption">Caption</div>

<label class="label">Label</label>

    <label class="label">Label</label>
*/

/* NOTE: Feel free to set a font-size on body and then use rems and ems
if that is your style. I personally find it hard to read it.

You can also use custom line-height per typography item. I set it to 1.1em which
gives good readability.
*/

/* NOTE: I included Roboto and Alegreya inside the template so that these fonts render
in your styleguide. Please make sure to include them in your template in addition to your
project.

Here's the styleguide template for this project: ../styleguide_template/template.ejs
*/

:root {
  /* alter the display start size to appropriate value for desktop and mobile and all the
   * display sizes will be adjusted appropriately */
  --display-start-font-size: 24px;

  --display-4-font-size: calc(var(--display-start-font-size) * 3.3);
  --display-3-font-size: calc(var(--display-start-font-size) * 1.64);
  --display-2-font-size: calc(var(--display-start-font-size) * 1.32);
  --display-1-font-size: var(--display-start-font-size);
}

@media only screen and (max-device-width: 480px) {
  :root {
    --display-start-font-size: 22px;
  }
}

p, div {
  line-height: 1.5em;
  font-size: 16px;
}

div {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Lora', serif;
}

body * {
  line-height: 1.5em;
  color: var(--color-text-primary);
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 14px;
}

*[class^='display-'] {
  font-family: 'Droid Serif', serif;
  letter-spacing: 0.01em;
}

.display-4 {
  font-size: var(--display-4-font-size);
}

.display-3 {
  font-size: var(--display-3-font-size);
}

.display-2 {
  font-size: var(--display-2-font-size);
}

.display-1 {
  font-size: var(--display-1-font-size);
}

.headline, .title, .subheading, .body-2, .caption, .label {
  font-family: 'Open Sans', sans-serif;
}

.headline, .title {
  padding-bottom: 12px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.headline:after, .title:after {
  content: '';
  border-bottom: 1px solid var(--color-primary);
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
}

.headline {
  font-size: 18px;
  font-weight: 300;
}

.title {
  font-size: 16px;
}

.subheading {
  font-size: 18px;
}

.body-2 {
  font-weight: bold;
}

.caption, .label {
  color: var(--color-primary);
  font-size: 14px;
}

.caption {
  text-transform: uppercase;
}
